$colors: #e6194b, #3cb44b, #ffe119, #4363d8,
#f58231, #911eb4, #46f0f0, #f032e6,
#bcf60c, #fabebe, #008080, #e6beff,
#800000, #aaffc3, #6181b0, #febb79,
#000075, #808080, #6a66d7, #c2f221;

.line-chart {
  &-test {
    margin-bottom: 40px;
  }

  .axis * {
    stroke: #999;
    font-size: 12px;

    text {
      stroke: #666;
    }
  }

  .line {
    fill: none;
    stroke: orange;
    stroke-width: 2px;
  }

  .dot {
    fill: #fff;
    stroke: orange;
    stroke-width: 2px;

    &:hover {
      cursor: pointer;
    }

    &.moved {
      fill: #ffcf76;
    }

    &.selected {
      fill: #21908d;
      stroke: #21908d;
    }

    @each $color in $colors {
      $i: index($colors, $color);
      &-#{$i}.brushed {
        fill: $color;
        stroke: $color;
      }
    }
  }

  .brush .selection {
    fill-opacity: 0.2;
    fill: #fde725;
  }

  rect.selected-dots {
    stroke: #21908d;
    stroke-dasharray: 4px;
    fill: #ffcf76;
    fill-opacity: 0.2;
  }
}